:root {
  --true-bg: #1f3864;

  --er-bg: #FFD700;

  --mid-bg: #f2e5bc;

  --nav-bg: #ebdbb2;

  --nav-hover-bg: #d5c4a1;

  --text-c: #1f3864;

  --nav-norm: #1f3864;

  --nav-seen: #1f3864;
}

@font-face {
  font-family: Lato;
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
}

#wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas: "header header"
                       "nav main"
                       "footer footer";
}

h1 {
  margin-bottom: 8px;
}

body{
  background-color: var(--true-bg);
}

header {
  grid-area: header;
  background: var(--er-bg);
  color: var(--text-c);
  border: 2px solid black;
}

nav {
  grid-area: nav;
  background: var(--nav-bg);
  color: var(--nav-norm);
}

nav a {
  text-decoration:none;
  display: block;
  color: inherit;
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

nav a:hover{
  color: var(--nav-seen);
  background-color: var(--nav-hover-bg);
}

nav ul{
  list-style-type: none;
  padding-left: 0px;
}

main {
  grid-area: main;
  background: var(--mid-bg);
  color: var(--text-c);
  padding: 5px;
  text-align: center;
  font-family: Lato, sans-serif;
}

footer {
  grid-area: footer;
  background: var(--er-bg);
  color: var(--text-c);
  border: 2px solid black;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer p2{
  text-align: left;
  font-size: 14px;
}
header h1 {
  text-align: center;
}
