:root {
  --true-bg: #1f3864;

  --er-bg: #FFD700;

  --mid-bg: #f2e5bc;

  --nav-bg: #ebdbb2;

  --nav-hover-bg: #d5c4a1;

  --text-c: #1f3864;

  --nav-norm: #1f3864;

  --nav-seen: #1f3864;
}

@font-face {
  font-family: Acme;
  src: url('https://fonts.googleapis.com/css?family=Acme&effect=shadow-multiple');
}

#wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas: "header header"
                       "nav main"
                       "footer footer";
}

h1 {
  margin-bottom: 8px;
}

body{
  background-color: var(--true-bg);
}

img.team{
  margin-top: 30px;
  width: 375px;
  height: 320px;
  border: 4px solid #1f3864;
}
img.logo{
  width: 150;
  height: auto;
  position: relative; 
  bottom: 170px;
  left: 310px;
}

img.robot{
  width: 200;
  height: auto;
  position: relative;
  bottom: 165;
  left: -85;
}
header {
  grid-area: header;
  background: var(--er-bg);
  color: var(--text-c);
  border: 2px solid black;
}

nav {
  grid-area: nav;
  background: var(--nav-bg);
  color: var(--nav-norm);
  border-left: 2px solid black;
}

nav a {
  text-decoration:none;
  display: block;
  color: inherit;
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

nav a:hover{
  color: var(--nav-seen);
  background-color: var(--nav-hover-bg);
}

nav ul{
  list-style-type: none;
  padding-left: 0px;
}

main {
  grid-area: main;
  background: var(--mid-bg);
  color: var(--text-c);
  padding: 5px;
  text-align: center;
  font-family: Acme;
  border-right: 2px solid black;
}

main h1 {
  text-align: left;
  font-size: 30px;
}

.gradient-text { 
background: linear-gradient(to right top, #1f3864, #FFD700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
   filter: hue-rotate(0deg);
  } 
  100%{
   filter: hue-rotate(360deg); 
  } 
}
main h2{
  font-size: 100px;
  text-align: center;
 position: relative;
  bottom: 225;
}
footer {
  grid-area: footer;
  background: var(--er-bg);
  color: var(--text-c);
  border: 2px solid black;
}

footer p {
  text-align: center;
  font-size: 12px;
}

slogan {
  text-align: left;
  font-size: 14px;
}
header h1 {
  text-align: center;
}
